In [2]:
!pip install pyreadr
import pyreadr
import pandas as pd

Collecting pyreadr
  Downloading pyreadr-0.4.4-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (363 kB)
     |████████████████████████████████| 363 kB 2.3 MB/s eta 0:00:01
Requirement already satisfied: pandas>=1.2.0 in /home/aniket/.local/lib/python3.8/site-packages (from pyreadr) (1.2.4)
Requirement already satisfied: numpy>=1.16.5 in /home/aniket/.local/lib/python3.8/site-packages (from pandas>=1.2.0->pyreadr) (1.19.5)
Requirement already satisfied: pytz>=2017.3 in /home/aniket/anaconda3/lib/python3.8/site-packages (from pandas>=1.2.0->pyreadr) (2021.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /home/aniket/.local/lib/python3.8/site-packages (from pandas>=1.2.0->pyreadr) (2.8.1)
Requirement already satisfied: six>=1.5 in /home/aniket/.local/lib/python3.8/site-packages (from python-dateutil>=2.7.3->pandas>=1.2.0->pyreadr) (1.15.0)
Installing collected packages: pyreadr
Successfully installed pyreadr-0.4.4

In [4]:
result = pyreadr.read_r('debate_transcripts.rda')

In [5]:
print(result.keys())

odict_keys(['debate_transcripts'])

In [6]:
df=result["debate_transcripts"]

In [7]:
df.head()

,speaker,text,type,election_year,date,candidate
0,Dorothy Ridings,Good evening from the Civic Center in Philadel...,VP,1984.0,1984-10-11,0.0
1,Sander Vanocur,"Thank you, Dorothy. A few words about the orde...",VP,1984.0,1984-10-11,0.0
2,John Mashek,"John Adams, our nations first vice- president,...",VP,1984.0,1984-10-11,0.0
3,George H. W. Bush,"Well, I dont think theres a great difference, ...",VP,1984.0,1984-10-11,1.0
4,John Mashek,Well some Republicans have criticized Mr. Mond...,VP,1984.0,1984-10-11,0.0

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19435 entries, 0 to 19434
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   speaker        19435 non-null  object
 1   text           19435 non-null  object
 2   type           19435 non-null  object
 3   election_year  19435 non-null  float64
 4   date           19435 non-null  object
 5   candidate      19435 non-null  float64
dtypes: float64(2), object(4)
memory usage: 911.1+ KB